body {
    // background-color: $blue;
    background:linear-gradient(90deg, $mainColor 25%, $secondaryColor 72%);
    overflow-x: hidden;
}

.page-wrap {
    width: 80%;
    margin: 0 auto;
    max-width: 1200px;
}
