body, input, button, textarea {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: $bodyFont;
    color: $textColor;
}

h1, h2, h3 {
    font-family: $titleFont;
    color: $titleColor;
}

h1{
    font-size: 15rem;
}

h2{
    font-size: 2rem;
    font-weight: bold;
}

// Rest of the font properties...
