// Styles de la page Home

// home page styles

.big-bubble{
    background: linear-gradient(-45deg, rgba($titleColor, 0.3) 45%,  $white 110%);
    height: 30rem;
    width: 32rem;
    border-radius: 100%;
    position: absolute;
    top: -2rem;
    left: -2rem;
}

.small-bubble{
    background: linear-gradient(-45deg, rgba($titleColor, 0.3) 45%,  $white 110%);
    height: 18rem;
    width: 20rem;
    border-radius: 100%;
    position: absolute;
    top: -2rem;
    right: -4rem;
}

.infos-block{
    margin-top: 25vh;
    position: relative;
    h1{
        font-weight: bolder;
        color: $white;
        text-align: center;
    }
    h2{
        font-size: 3rem;
        word-spacing: 20px;
        letter-spacing: 5px;
        font-weight: bold;
        margin-top: 1rem;
        text-align: center;
    }
}

.nav-arrow{
    display: flex;
    justify-content: flex-end;
    margin-top: 10rem;
}