// Styles de la page User
// User page styles

.users-select{
    margin-top: 20vh;
    text-align: center;

    select{
        background-color: transparent;
        font-size: 3rem;
        color: $white;
        border: 5px solid $white;
        width: 50%;
        height: 7rem;
    }
}

.user-info{
    margin-top: 2rem;
    display: flex;
    justify-content: center;

        div{
            width: 50%;

            h2{
                span{
                    color: $white;
                }

                &:nth-of-type(2){
                    margin-top: 1rem;
            }
        }
    }
}

.articles-list{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 5rem;

        div{
            width: 32rem;
            margin: 0 1rem 2rem;
            border-radius: $borderRadius;
            background-color: $white;
            padding: 2rem;
            box-shadow: $boxShadow;

        h2{
            text-align: center;
        }

        p{
            margin-top: 1rem;
            font-family: initial;
            font-size: 1.4rem;
        }
    } 
}

// media queries

@media(max-width:950px){
    .user-info{
        div{
            width: 80%;
        }
    }

    .users-select{
        select{
            width:80%;
        }
    }
}

@media(max-width:550px){
    .user-info{
        div{
            width: 100%;
        }
    }

    .users-select{
        select{
            font-size:2.5rem;
            width:100%;
        }
    }

    .articles-list{
        div{
            margin: 0rem 0rem 2rem;
        }
    }
}